services:
  - type: static
    name: task-buddy-app
    rootDir: task-buddy-app-874
    buildCommand: npm install && npm run build
    staticPublishPath: dist

    routes:
      - type: rewrite
        source: /*
        destination: /index.html

    envVars:
      - key: VITE_SUPABASE_URL
        sync: false
      - key: VITE_SUPABASE_PUBLISHABLE_KEY
        sync: false
      - key: VITE_SUPABASE_PROJECT_ID
        sync: false
